.left-img-rgt-cnt {
    padding: 122px 0 114px;
    background-color: #FEE051;
    position: relative;
    overflow: hidden;
    }
    .left-img-rgt-cnt:before {
    position: absolute;
    top: 0;
    right: 0;
    width: 143px;
    height: 237px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../images/why-right-top-shape.png);
    content: "";
    z-index: 0;
    }
    .left-img-rgt-cnt:after {
    position: absolute;
    top: 0;
    left: 36%;
    width: 489px;
    height: 126px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../images/why-top-shap.png);
    content: "";
    z-index: 1;
    mix-blend-mode: luminosity;
    }
    .left-img-rgt-cnt .container:before {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 162px;
    height: 126px;
    content: "";
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(../../images/why-lft-shp.png);
    mix-blend-mode: luminosity;
    }
    .left-img-rgt-cnt .rht-cnt {
    width: 54%;
    padding: 0 0 0 80px;
    }
    .left-img-rgt-cnt .left-img {
    width: 46%;
    position: relative;
    }
    .left-img-rgt-cnt .inner {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    }
    .left-img-rgt-cnt .inner:before {
    position: absolute;
    content: "";
    bottom: 27px;
    left: -144px;
    width: 174px;
    height: 213px;
    background-image: url(../../images/why-left-btm.png);
    background-repeat: no-repeat;
    z-index: 0;
    }
    .left-img-rgt-cnt .rht-cnt .content {
    margin: 30px 0 0;
    }
    .left-img-rgt-cnt .rht-cnt .list-cnt {
    margin: 40px 0 0;
    }
    .left-img-rgt-cnt .rht-cnt .list-cnt ul {
    margin: 29px 0 0;
    }
    .left-img-rgt-cnt .rht-cnt .list-cnt ul li {
    margin-bottom: 24px;
    color: #101010;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 35px;
    padding: 0 0 0 34px;
    position: relative;
    }
    .left-img-rgt-cnt .rht-cnt .list-cnt ul li:last-child{
    margin-bottom: 0 ;
    }
    .left-img-rgt-cnt .rht-cnt .list-cnt ul li:before {
    position: absolute;
    content: "";
    top: 12px;
    left: 0;
    width: 16px;
    height: 12px;
    background-image: url(../../images/why-true.png);
    background-size: cover;
    background-repeat: no-repeat;
    }
    .left-img-rgt-cnt .rht-cnt .list-cnt .title {
    color: #101010;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    }